{% extends "emails/base_email.html" %}

{% block title %}Reset Your Password{% endblock %}
{% block header %}Password Reset Request{% endblock %}

{% block content %}
Hi {{ user.first_name }},<br><br>
We received a request to reset your password. Click the button below to create a new one.
{% endblock %}

{% block button %}
<tr>
  <td align="center" style="padding:20px;">
    <a href="http://{{ domain }}{% url 'resetpassword_validate' uidb64=uid token=token %}"
       style="background:#28a745; color:#fff; text-decoration:none;
              padding:15px 30px; border-radius:5px; font-size:16px; display:inline-block;">
      Reset Password
    </a>
  </td>
</tr>
{% endblock %}
