<!-- ========================= FOOTER ========================= -->
<footer class="section-footer" style="background-color: #1a0a06; color: white; padding: 40px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center text-md-left">
                <h4>LuckyTech Innovations</h4>
                <p>With full-stack expertise, we help you design, orchestrate, and manage technologies that drive business success.</p>
                <div>
                    <a href="#" class="text-white mx-2"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="text-white mx-2"><i class="fab fa-linkedin"></i></a>
                    <a href="#" class="text-white mx-2"><i class="fab fa-twitter"></i></a>
                </div>
            </div>

            <div class="col-md-2">
                <h6 class="text-white">Quick Links</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Site Map</a></li>
                    <li><a href="#" class="text-white">Privacy Notice</a></li>
                    <li><a href="#" class="text-white">Cookie Notice</a></li>
                    <li><a href="#" class="text-white">Terms & Conditions</a></li>
                </ul>
            </div>

            <div class="col-md-2">
                <h6 class="text-white">About Us</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Why LuckyTech</a></li>
                    <li><a href="#" class="text-white">Our Team</a></li>
                    <li><a href="#" class="text-white">Careers</a></li>
                    <li><a href="#" class="text-white">Sustainability</a></li>
                </ul>
            </div>

            <div class="col-md-2">
                <h6 class="text-white">How We Can Help</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Customer Support</a></li>
                    <li><a href="#" class="text-white">Leasing Services</a></li>
                    <li><a href="#" class="text-white">Product Recalls</a></li>
                    <li><a href="#" class="text-white">Corporate Gifts</a></li>
                </ul>
            </div>

            <div class="col-md-2 text-md-right">
                <h6 class="text-white">Contact Us</h6>
                <p class="mb-0">📞 +233-5750-35983</p>
                <p class="mb-0">📧 info@lig.gh.com</p>
                <p class="mb-0">📍 Adweso-Koforidua Road</p>
            </div>
        </div>

        <div class="row mt-4 border-top pt-3">
            <div class="col-md-6 text-center text-md-left">
                <p class="mb-0">&copy; 2007 - 2025 LuckyTech Innovations. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-md-right">
                <i class="fab fa-cc-visa fa-lg mx-2"></i>
                <i class="fab fa-cc-paypal fa-lg mx-2"></i>
                <i class="fab fa-cc-mastercard fa-lg mx-2"></i>
            </div>
        </div>
    </div>

    
</footer>
<!-- ========================= FOOTER END // ========================= -->

<!-- FontAwesome for Icons -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
