

{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>LIG | IT Solutions, Electronics & Computers in Ghana | lig.com.gh</title>

<meta name="description" content="Explore LIG at lig.com.gh – Ghana’s trusted source for laptops, desktop computers, accessories, software, and professional IT services. Reliable tech solutions for individuals and businesses." />

<meta property="og:title" content="LIG | IT Solutions, Electronics & Computers in Ghana" />
<meta property="og:description" content="Visit lig.com.gh to discover laptops, software, accessories and more. Trusted by Ghanaians for quality IT products and support." />
<meta property="og:url" content="https://lig.com.gh/" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="LIG" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="LIG | IT Solutions, Electronics & Computers in Ghana" />
<meta name="twitter:description" content="Ghana’s most reliable electronics and computer store – LIG. Visit us at lig.com.gh" />

{% endblock %}

{% block title %}Home | LiG{% endblock %}

{% block content %}






<!-- ========================= SECTION  END// ========================= -->


{% include 'partials/_home.html' %}
{% include 'partials/_hero_section.html' %}
{% include 'partials/_services.html' %}
{% include 'partials/_products.html' %}
{% include 'partials/_Faq.html' %}


</body>
</html>

{% endblock %}
